{{#if session.isAuthenticated}}
<ul id="slide-out" class="side-nav">
   <li>
      <div class="user-view myuser-view">
         <div class="background">
               <img src="assets/images/office.jpg">
         </div>
         <a href="#!user"><img class="circle" src="/assets/images/tom1.jpg"></a>
         <a href="#!name"><span class=" name">{{userSession.detail.firstName}} {{userSession.detail.lastName}}</span></a>
         <a href="#!email"><span class=" email">{{userSession.detail.email}}</span></a>
      </div>
   </li>
   <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
   <li><a href="#!">Second Link</a></li>
   <li><div class="divider"></div></li>
   <li><a class="subheader">Subheader</a></li>
   <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>

<!--********************Nav-Bar******************** -->
<!-- Dropdown Structure -->
<ul id="nav-dropdown" class="dropdown-content">
   <li>{{link-to 'Dashboard' 'dashboard'}}</li>
   <li>{{link-to 'My Books' 'books.my'}}</li>
   <li>{{link-to 'Profile' 'profile'}}</li>
   <li class="divider"></li>
   <li><a href="#" {{action 'onLogout'}}>Logout</a></li>
</ul>
<!-- Dropdown Structure-End -->
<nav>
   <div class="nav-wrapper">
        <div class="row">
            <div class="col s4" style={{if searchIsActive 'display: none'}}>
                <a href="#" data-activates="slide-out" class="btn-flat button-col">
                    <span class="menu-icon"><i class="material-icons">menu</i></span>
                </a>
                {{#link-to 'index' class="brand-logo margin-left-1"}}BookShare{{/link-to}}
            </div>

            <div class="nav-search-col col s4 {{if searchIsActive 'active'}}">
                <div class="nav-search input-field">
                    {{input type="search" id="search" autocomplete="off" focus-in='activateSearch' value=query focus-out='deactivateSearch' action='onSearch'}}
                    <label for="search" class="label-icon">
                        <i class="material-icons">search</i>
                    </label>                        
                    <i class="material-icons">close</i>                        
                </div>
            </div>

            <div class="col s4" style={{if searchIsActive 'display: none'}}>
                <ul class="right">
                    <!-- Dropdown Trigger -->
                    <li>
                        <div class="initials">
                            <a class="dropdown-button" href="#" data-activates="nav-dropdown">
                                {{userSession.initials}}
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
   </div>
</nav>              
<!--********************Nav-Bar-End******************** -->

{{else}}
<nav>
    <div class="nav-wrapper">
        {{#link-to 'index' class="brand-logo margin-left-1"}}BookShare{{/link-to}}
        <ul class="right hide-on-med-and-down">
            <li>{{#link-to 'login'}}Login{{/link-to}} </li>
        </ul>
    </div>
</nav>
{{/if}}