<div class="card horizontal">
    <div class="card-content mycard-content">
        <div class="row">
            <div class="col s3"> 
                <img class="myCardImg object-fit-cover" src="{{book.imgurl}}">
            </div>
            <div class="col s9">
                <h5>{{link-to book.name 'book' book.id}}</h5>
                <p>{{book.author}}</p>
                <p class="book-card-username">Added by {{book.user.username}}</p>
                {{#if book.isAvailable}}
                    <p><span class="success-icon"><i class="material-icons">lens</i></span> Available</p>
                {{else}}
                    <p><span class="unsucess-icon"><i class="material-icons">lens</i></span> Unavailable</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>