<div class="container">
    <div class="row margin-bottom-0">
        <div class="col m4">
            <h4>MY BOOKS</h4>
        </div>
        <!--div class="col m8">
            {{material-pagination
                class="right-align"
                currentPage=meta.page
                totalPages=meta.totalPages
                onPageClick='setPage'
            }}
        </div-->
    </div>

    <!--div class="row margin-bottom-0">
        <div class="col m8">
            {{material-sort 
                fields=sortFields 
                onSort='handleSort'
                sortField=sort
                direction=dir
            }}
        </div>
        <div class="col m4">
            {{md-input value=q label='Search' class='margin-top-0' action='filterSearch' validate=true}}
        </div>
    </div-->
</div>

<!--my books-->
<div class="container">
    {{#model-query-list
        model='book' 
        loadingComponent='loader-stretch' 
        onData='handleListLoaded'
        query=searchQuery
        debounce=300
        as |book|}}
        {{#if book}}
        <div class="divider"></div>
            <div class="section">
                <div class="row">
                    <div class="col s2 my-books">
                          <img class="object-fit-cover" src="{{book.imgurl}}">  
                    </div>
                    <div class="col s8">
                        <h5>{{link-to book.name 'book' book.id}}</h5>
                        <p>by {{book.author}}</p>
                    <span><p>{{book.description}}</p></span>
                    {{!-- {{#if book.requestby}} --}}
                        <span class="request-link">
                        Request available- <a {{action 'toggleReqModal' book}}> view request</a>    
                        </span>
                    {{!-- {{/if}} --}}
                    </div>
                    <div class="col s2">
                    <a class="btn-floating btn-small waves-effect waves-light blue"  {{action 'toggleModal' book}}>
                        <i class="material-icons">edit</i></a>&emsp;
                    <a class="btn-floating btn-small waves-effect waves-light red" {{action 'deleteBook' book}}>
                        <i class="material-icons">delete</i>
                    </a>
                    </div>
                </div>  
            </div>
            {{else}}
            <h5>No Books Available</h5>
            <a class="btn-floating btn-large" {{action 'toggleModal'}}>
                <i class="large material-icons">add</i>
            </a>
            {{/if}}
    {{/model-query-list}}

    {{#if requestModalIsOpen}}
        {{#md-modal close='closeModal' class="test-modal"}}
            {{request-modal book=bookToViewRequests onCloseClick='toggleReqModal'}}
        {{/md-modal}}
    {{/if}}

    <!-- fixed floating action button-->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large" {{action 'toggleModal'}}>
            <i class="large material-icons">add</i>
        </a>
    <!--add modal structure--> 
    {{#if modalIsOpen}}
        {{#md-modal close='closeModal'}}
            {{add-edit-modal 
                editMode=isInEditMode 
                model=modelToEdit 
                onActionClick='saveBook'
                onCancelClick='closeModal'
            }}
        {{/md-modal}}
    {{/if}}
    <!--end add modal structure-->
    </div>
</div>
