<div class="container">
    <h2>My Books</h2>
</div>
<!--my books-->
<div class="container">
    {{#each model as |book|}}
        <div class="divider"></div>
            <div class="section">
                <div class="row">
                    <div class="col s2 my-books"><img src="{{book.imgurl}}"></div>
                    <div class="col s8">
                        <h5>{{link-to book.name 'book' book.id}}</h5>
                        <p>by {{book.author}}</p>
                    <span>{{book.description}}</span>
                    </div>
                    <div class="col s2">
                    <a class="btn-floating btn-small waves-effect waves-light blue"  {{action 'toggleModal' book}}>
                        <i class="material-icons">edit</i></a>&emsp;
                    <a class="btn-floating btn-small waves-effect waves-light red" {{action 'deleteBook' book}}>
                        <i class="material-icons">delete</i>
                    </a>
                    </div>
                </div>  
            </div>
    {{/each}}

    <!-- fixed floating action button-->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large" {{action 'toggleModal'}}>
            <i class="large material-icons">add</i>
        </a>
    <!--add modal structure--> 
    {{#if modalIsOpen}}
        {{#md-modal close='closeModal'}}
            {{add-edit-modal 
                editMode=isInEditMode 
                model=modelToEdit 
                onActionClick='saveBook'
                onCancelClick='closeModal'
            }}
        {{/md-modal}}
    {{/if}}
    <!--end add modal structure-->
    </div>
</div>
