{{#if loading}}
    {{loader-stretch}}
{{else}}
{{#with (changeset dataModel addEditValidations) as |changeset|}}
<form>    
    <div class="modal-content no-overflow-x">
        <div class="row">
            <div class="col s12 text-right">
                {{md-switch checked=dataModel.isBorrowable onLabel="Allow Borrow Requests" offLabel="Don't Allow"}}
                <br/>
            </div>
            <div class="col s12">
                <h4>{{if editMode 'Edit Book' 'Add Book'}}</h4>
            </div>
            
        </div>
        
        <!--add-book-form-->
           
            <div class="row">
                {{inline-errors changeset=changeset editMode=editMode propertyId='name' propertyType='text' propertyLabel='Title' icon='title'}}
            </div>
            <div class="row">
                {{inline-errors changeset=changeset editMode=editMode propertyId='author' propertyType='text' propertyLabel='Author' icon='account_circle'}}
            </div>
            <div class="row">
                {{inline-errors changeset=changeset editMode=editMode propertyId='description' propertyType='text' propertyLabel='Description' icon='description'}}
            </div>
            <div class="row">
                {{inline-errors changeset=changeset editMode=editMode propertyId='imageURL' propertyType='text' propertyLabel='Image URL' icon='image'}}
            </div>
           
        <!--add-book-form end-->              
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat"
            {{action 'onUpdate' changeset}}>
            {{if editMode 'Update' 'Add'}} 
        </a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat"
            {{action 'onClose'}}>
            Cancel
        </a>
    </div>
</form>
 {{/with}}
{{yield}}
{{/if}}