{{#if loading}}
    {{loader-stretch}}
{{else}}
<form >    
    <div class="modal-content no-overflow-x">
        <div class="row">
            <div class="col s6">
                <h4>{{if editMode 'Edit Book' 'Add Book'}}</h4>
            </div>
            <div class="col s6 text-right">
                {{md-switch checked=dataModel.status.isAvailable onLabel="Available" offLabel="Unavailable"}}                
            </div>
        </div>
        
        <!--add-book-form-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">title</i>
                    {{input id="book_title_field" type="text" value=dataModel.book.name class="form-control validate"}}
                    <label for="book_title_field" class={{labelClass}}>Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    {{input id="book_author_field" type="text" value=dataModel.book.author class="form-control validate"}}
                    <label for="book_author_field" class={{labelClass}}>Author</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">description</i>
                    {{textarea id="book_about_field" type="text" value=dataModel.book.description class="form-control validate materialize-textarea"}}
                    <label for="book_about_field" class={{labelClass}}>Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">image</i>
                    {{input id="book_image_field" type="text" value=dataModel.book.imageURL class="form-control validate"}}
                    <label for="book_image_field" class={{labelClass}}>Image URL</label>
                </div>
            </div>
            <div class="row">
                
            </div>
        <!--add-book-form end-->              
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat"
            {{action 'onUpdate'}}>
            {{if editMode 'Update' 'Add'}} 
        </a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat"
            {{action 'onClose'}}>
            Cancel
        </a>
    </div>
</form>
{{yield}}
{{/if}}